.rubrique {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #333333 ;}
.texte {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #333333}
.texteFct { FONT-SIZE: 11px; color: #017D91; font-family: Arial, Helvetica, sans-serif; font-weight: normal; TEXT-DECORATION: none ; }
.alerte { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #990000; cursor: auto; text-decoration: underline}
.detail {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #017D91;
	font-weight: bold;
}
.TexteAlerte { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #CC3300}
.Remarque { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #333333; cursor: hand ; text-decoration: underline}
.sous-rubrique {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #333333}
.plan { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000066; cursor: hand ; text-decoration: underline}
.Erreur { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #CC3300; cursor: auto}
.Raccourci { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #990000 ; text-decoration: underline}
.EntetePlan {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #FFFFFF}
.texte2 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #333333; list-style-type: squate}
.texte2blanc { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #FFFFFF; list-style-type: squate}
.texte3 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #333333; list-style-type: squate ; text-decoration: underline}
.lien { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; cursor: hand ; color: #FFFFFF}
.SR { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; cursor: hand ; color: #FFFFFF}
.texte4 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #333333 }
.TexteBlanc { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; cursor: auto; color: #FFFFFF}
.titreSection {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #017D91 ; text-decoration: underline}
.nbrConnaissements { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #017D91 }
.nbrConnaissementsActive { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FF6600}
.Marchandise {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #017D91 }
.PetitTexte {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; color: #333333}
.filtre { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #017D91 ; text-decoration: underline }


.Titrefiltre1 { font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #FFFFFF ;}
.Titrefiltre2 { font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #333333 ;}


.EnTeteTableau { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFFFFF}
.texteEnr {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #017D91 ; font-weight: bold}
.Annonce { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #017D91  }
.Indicateur { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #041D70}
.TexteAnnonce { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #017D91  }
.TexteIndicateur { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #041D70 }
.texteCoordonnees {
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #333333
}
.marquer {
font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #017D91 ; font-weight: bold
}
.Titre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.TitreModule {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #007D94;
}
.liste {
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #017D91 ; text-decoration: underline
}
.Sommaire {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #017D91 ;
	font-weight: normal;
	text-decoration: underline;

}
.tableScroll{
	OVERFLOW: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #017D91;
	BORDER: black solid 1px;
}
.texte2Italique {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	list-style-type: squate;
	font-style: italic;
}
.FermerLeNoue{display:none; visibility:hidden }
.OuvrirLeNoue{visibility:visible }
.Input_Ref_Cle
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 400;
    PADDING-LEFT: 3px;
    WIDTH: 19px;
	BORDER: #7F9DB9 solid 1px;
}
.Input_Ref_3Text
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 400;
    PADDING-LEFT: 4px;
    WIDTH: 30px;
	BORDER: #7F9DB9 solid 1px;
}
.Input_Ref_4Text
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 400;
    PADDING-LEFT: 4px;
    WIDTH: 33px;
	BORDER: #7F9DB9 solid 1px;
}
.Input_Ref_7Text
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 400;
    PADDING-LEFT: 4px;
    WIDTH: 50px;
	BORDER: #7F9DB9 solid 1px;
}
}
.Input_rechercheS
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 400;
    PADDING-LEFT: 4px;
}
.Input_Ref_17Text
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 400;
    PADDING-LEFT: 4px;
    WIDTH: 115px
}
.drop_down
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    HEIGHT: 90px;
    WIDTH: 138px;
}
.ContourTableau1 {
    BACKGROUND-COLOR: #EFEFEF;
	BORDER: #738A9C solid 1px;
}
.ContourTableau2 {
    BACKGROUND-COLOR: #EFEFEF;
	BORDER: #738A9C solid 1px;
}
.Contour {
	BORDER: #738A9C solid 1px;
}
.ContourBlanc {
	BORDER: #FFFFFF solid 1px;
}
.options {
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #017D91;TEXT-DECORATION: none }
.MsgErreur {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #E01818}

.Etat1 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #041D70}
.Etat2 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #E01818}

.MsgInfo {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #007D94}
.TexteMessage { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #333333;}
.DetailErreur { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #017D91 ; text-decoration: underline }
.BarreEtat {BORDER: #00869C solid 1px; PADDING-LEFT: 4px;}
.drop_downAl
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: arial;
    FONT-SIZE: 11px;
    WIDTH: 447px;}

BODY {
scrollbar-face-color: #008294;
scrollbar-highlight-color: #FFFFFF;
scrollbar-shadow-color: #ffffff;
scrollbar-3dlight-color: #D1D7DC;
scrollbar-arrow-color:#FFFFFF;
scrollbar-track-color: #C4DADD;
scrollbar-darkshadow-color: #98AAB1;
}
.LblErreur {
font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #D90000; cursor: auto
}
.LblInfo {

font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #007D94; cursor: auto
}
}
.ZoneObservation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: Black;
	BORDER: #E5F2F4 solid 1px;
	background-color: #E5F2F4;
}
.inputTableScroll{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #017D91;
}
.Input_Date
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 400;
    PADDING-LEFT: 4px;
    WIDTH: 63px;
	BORDER: #7F9DB9 solid 1px;
}.grasGris {
font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #585858
}
.BordureGauche {
	border-left: 1px solid #FFFFFF;
}
.EnTeteTableau2 {
font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFFFF
}
.TexteVertGras {
font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; cursor: auto; color: #017D91
}
.remarque {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #CC3300;
	text-decoration: none;
}
.AvertissementRouge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #F18A92;
}
.AvertissementGris {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #B4B4B4;
}
.TitreOperation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #A0E1F6;
}
.DateTitreOperation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #A0E1F6;
	font-style: italic;
}.CadreOperationGHBGras {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: A0E1F6;
	border-bottom-color: A0E1F6;
	border-left-color: A0E1F6;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
}
.CadreOperationDHBNormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: A0E1F6;
	border-bottom-color: A0E1F6;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-right-width: 2px;
	border-right-style: dashed;
	border-right-color: A0E1F6;
}
.CadreOperationHBNormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	border-bottom-style: dashed;
	border-bottom-color: A0E1F6;
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-top-style: dashed;
	border-top-color: A0E1F6;
}
.CadreOperationHBGras {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border-bottom-style: dashed;
	border-bottom-color: A0E1F6;
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-top-style: dashed;
	border-top-color: A0E1F6;
}
.texte2blancItalique {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	list-style-type: squate;
	font-style: italic;
}.TableauTitreItalique {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	font-style: italic;
}
.Input_Ref_Cle1 {

    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: 400;
    PADDING-LEFT: 3px;
    WIDTH: 15px;
	BORDER: #7F9DB9 solid 1px;
}
.CadreOperationHNormal {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: A0E1F6;
}
.TitreSousOperation {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #A0E1F6;
}
