.commerciale a{
background-image: url(../images/btnCom.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.commerciale a:hover{
background-image: url(../images/btnCom2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.stock a{
background-image: url(../images/btnStock.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.stock a:hover{
background-image: url(../images/btnStock2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.stock a{
background-image: url(../images/btnStock.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.stock a:hover{
background-image: url(../images/btnStock2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.medical a{
background-image: url(../images/btnMed.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.medical a:hover{
background-image: url(../images/btnMed2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.tresorie a{
background-image: url(../images/btnTre.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.tresorie a:hover{
background-image: url(../images/btnTre2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.labo a{
background-image: url(../images/btnLab.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.labo a:hover{
background-image: url(../images/btnLab2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.pers a{
background-image: url(../images/btnPers.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.pers a:hover{
background-image: url(../images/btnPers2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.budget a{
background-image: url(../images/btnbud.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.budget a:hover{
background-image: url(../images/btnbud2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.compt a{
background-image: url(../images/btnCompt.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.compt a:hover{
background-image: url(../images/btnCompt2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.prestations a{
background-image: url(../images/btnPrest.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.prestations a:hover{
background-image: url(../images/btnPrest2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.prestations a{
background-image: url(../images/btnPrest.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.prestations a:hover{
background-image: url(../images/btnPrest2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.hospitalisation a{
background-image: url(../images/btnHosp.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.hospitalisation a:hover{
background-image: url(../images/btnHosp2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}


.addFournisseur a{
background-image: url(../images/btnAddFournisseur.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.addFournisseur a:hover{
background-image: url(../images/btnAddFournisseur2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.addProduit a{
background-image: url(../images/btnAddProduit.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.addProduit a:hover{
background-image: url(../images/btnAddProduit2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.entreeStock a{
background-image: url(../images/btnEntreeStock.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.entreeStock a:hover{
background-image: url(../images/btnEntreeStock2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.sortieStock a{
background-image: url(../images/btnSortieStock.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.sortieStock a:hover{
background-image: url(../images/btnSortieStock2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}


.listProduit a{
background-image: url(../images/btnListProduits.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.listProduit a:hover{
background-image: url(../images/btnListProduits2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.journalStock a{
background-image: url(../images/btnJournalStock.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.journalStock a:hover{
background-image: url(../images/btnJournalStock2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.nvelleHosp a{
background-image: url(../images/btnNvelleHospit.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.nvelleHosp a:hover{
background-image: url(../images/btnNvelleHospit2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.listHosp a{
background-image: url(../images/btnListHospi.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.listHosp a:hover{
background-image: url(../images/btnListHospi2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}


.FactNorm a{
background-image: url(../images/btnFacNorm.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.FactNorm a:hover{
background-image: url(../images/btnFacNorm2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.FactAss a{
background-image: url(../images/btnFactAss.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.FactAss a:hover{
background-image: url(../images/btnFactAss2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.ImpEtats a{
background-image: url(../images/btnImpEtats.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.ImpEtats a:hover{
background-image: url(../images/btnImpEtats2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.ImpFact a{
background-image: url(../images/btnImpFact.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.ImpFact a:hover{
background-image: url(../images/btnImpFact2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.ImpRecus a{
background-image: url(../images/btnImpRecus.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.ImpRecus a:hover{
background-image: url(../images/btnImpRecus2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.ModFact a{
background-image: url(../images/btnModFact.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.ModFact a:hover{
background-image: url(../images/btnModFact2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.Val1Fac a{
background-image: url(../images/btnVal1Fac.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.Val1Fac a:hover{
background-image: url(../images/btnVal1Fac2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.Val2Fac a{
background-image: url(../images/btnVal2Fac.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.Val2Fac a:hover{
background-image: url(../images/btnVal2Fac2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}


.precedent a{
background-image: url(../images/btnPrecedent.gif);
background-repeat: no-repeat;
height: 20px;
width: 100px;
display: block;
}

.precedent a:hover{
background-image: url(../images/btnPrecedent2.gif);
background-repeat: no-repeat;
height: 20px;
width: 100px;
}

.accueil a{
background-image: url(../images/btnAccueil.gif);
background-repeat: no-repeat;
height: 20px;
width: 80px;
display: block;
}

.accueil a:hover{
background-image: url(../images/btnAccueil2.gif);
background-repeat: no-repeat;
height: 20px;
width: 80px;
}

.authentification a{
background-image: url(../images/btnAuthentification.gif);
background-repeat: no-repeat;
height: 20px;
width: 150px;
display: block;
}

.authentification a:hover{
background-image: url(../images/btnAuthentification2.gif);
background-repeat: no-repeat;
height: 20px;
width: 150px;
}

.deconnexion a{
background-image: url(../images/btnDeconnexion.gif);
background-repeat: no-repeat;
height: 20px;
width: 120px;
display: block;
}

.deconnexion a:hover{
background-image: url(../images/btnDeconnexion2.gif);
background-repeat: no-repeat;
height: 20px;
width: 120px;
}

.infosPatient a{
background-image: url(../images/btnInfospatient.gif);
background-repeat: no-repeat;
height: 20px;
width: 120px;
display: block;
}

.infosPatient a:hover{
background-image: url(../images/btnInfospatient2.gif);
background-repeat: no-repeat;
height: 20px;
width: 120px;
}

.prestations2 a{
background-image: url(../images/btnPrestations.gif);
background-repeat: no-repeat;
height: 20px;
width: 120px;
display: block;
}

.prestations2 a:hover{
background-image: url(../images/btnPrestations2.gif);
background-repeat: no-repeat;
height: 20px;
width: 120px;
}

.hospitalises a{
background-image: url(../images/btnHospitalises.gif);
background-repeat: no-repeat;
height: 20px;
width: 120px;
display: block;
}

.hospitalises a:hover{
background-image: url(../images/btnHospitalises2.gif);
background-repeat: no-repeat;
height: 20px;
width: 120px;
}

.GenFact a{
background-image: url(../images/btnGenererFacture.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.GenFact a:hover{
background-image: url(../images/btnGenererFacture2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}


.devis a{
background-image: url(../images/btnDevis.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.devis a:hover{
background-image: url(../images/btnDevis2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}

.ImpDevis a{
background-image: url(../images/btn_impDevis.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
display: block;
}

.ImpDevis a:hover{
background-image: url(../images/btn_impDevis2.gif);
background-repeat: no-repeat;
height: 60px;
width: 300px;
}


.champText{
	font-weight:bold;
	 background-color:#00253E; 
	 color:#FFFFFF; 
	  border:solid 1px #FFFFFF;
}





